.shorten-container{
    background-color: #f0f1f6;
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shorten-box{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    margin-top: -75px;
    border-radius: 8px;
    border: 1px transparent;
    background-image: url('../../images/bg-shorten-desktop.svg');
    background-color: #3a3053;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.shorten-box form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-txt{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
}

.input-txt input[type="text"]{
    position: absolute;
    width: 100%;
    top: -20px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.input-txt input[type="text"]:focus{
    outline: none;
}

.normalBorder{
    border: 2px transparent;
}

.errorBorder{
    border: 2px transparent#b46774;
}

.input-txt label{
    position: absolute;
    top: 35px;
    padding-top: 5px;
    color: #b46774;
    font-size: 14px;
    font-style: italic;
}

.hidden{
    display: none;
}

#submitbtn{
    cursor: pointer;
    margin-top: 12px;
    height: 50px;
    padding: 0px 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    background-color: #9be3e2;
    border-radius: 8px;
    color: #fff;
    border: 1px transparent;
    margin-left: 20px;
    align-self: center;
}

.url-block{
    margin-top: 20px;
    width: 90%;
    justify-self: center;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px transparent #fff;
    height: 70px;
}

.url-text{
    width: 60%;
    align-self: center;
}

.url-text h3{
    font-size: 22px;
    padding-left: 20px;
    color: #77767c;
    font-weight: 500;
}

.action-col{
    margin-right: 20px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: center;
    justify-content: flex-end;
}

.action-col h3{
    align-self: center;
    color: #78d3d1;
    font-size: 22px;
    font-weight: 500;
}

.action-col button{
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    height: 40px;
    color: #fff;
    background-color: #29d2ce;
    padding: 0px 20px;
    border-radius: 8px;
    border: 1px transparent;
}   

.blackCopiedText{
    content: 'Copied!';
    color: #fff;
    background-color:#77767c;
}